
@{
    ViewData["Title"] = "Svi filmovi";
    //Layout = "_LayoutAdmin";
    @using Microsoft.AspNetCore.Authorization;
    @using Microsoft.AspNetCore.Identity;
    @using Podaci.EntityModels;
}
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@model FilmoviPrikazVM
<div class="filmovi-container">
    @*@if(Model.ID==0)
    {
    <div class="input-div-container">
        <div class="input-div">
            <label class="input-label">Traži</label>
            <input class="input-polje" onkeydown="trazi()" />
        </div>
    </div>
    }*@
    @foreach (var f in Model.Filmovi)
    {
    <div class="film-prikaz">
        <div class="film-naslov">
            <h1>@f.FilmIme</h1>
            <p style="font-size: 28px">(@f.Godina)</p>
        </div>
        <div class="film-podnaslov">
            <p><b>Trajanje:</b> @f.Trajanje min</p>
            <p><b>Žanr:</b> @f.Zanr</p>
        </div>
        <div class="film-prikaz-gore">
            <div><img src="@f.SlikaURL" /></div>
            <div class="film-info">
                <div class="film-info-div"><p>@f.Info</p></div>
                <div>
                    <p><b>Reditelj:</b> @f.Reditelj</p>
                    <p><b>Glumci:</b> @f.Glumci</p>
                </div>
            </div>

        </div>
        <div class="film-prikaz-dolje">

            <div>@Html.Raw(f.TrailerURL)</div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            @if ((UserManager.GetUserAsync(User).Result.IsAdmin || UserManager.GetUserAsync(User).Result.IsModerator))
            {
                <div class="film-prikaz-dugmad">
                    <a href="/Filmovi/Dodaj?ID=@f.FilmID" class="film-prikaz-btn">Uredi</a>
                    <a href="/Filmovi/Obrisi?ID=@f.FilmID" class="film-prikaz-btn delete-btn">Obriši</a>
                </div>
            }
        }


    </div>
    }

</div>

